*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.hold{
  width: 100%;
  height: 800px;
  display: grid;
  grid-template-columns: 20% 80%;
}

.side-bar{
  grid-column: 1/2;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 30% 17.5% 17.5% 17.5% 17.5%;
  border-right: 2px solid black;

}

.cat-1{
  grid-row: 1/2;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 10% 30% 30% 30%;
}

.cat1-heading{
  grid-row: 1/2;
  grid-column: 1/4;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.cl{
  box-shadow: 2px 2px 2px black;
  border: 2px solid black;
  transition: 2s;
}

.cl:hover{
  transform: scale(1.1, 1.1);
}

.cl1{
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  background: black;
}
.cl2{
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  background: white;
}
.cl3{
  grid-column: 3/4;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  background: brown;
}
.cl4{
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  background: red;
}
.cl5{
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  background: orange;
}
.cl6{
  grid-column: 3/4;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  background: yellow;
}
.cl7{
  grid-column: 1/2;
  grid-row: 4/5;
  width: 100%;
  height: 100%;
  background: green;
}
.cl8{
  grid-column: 2/3;
  grid-row: 4/5;
  width: 100%;
  height: 100%;
  background: rgb(24, 205, 237);
}
.cl9{
  grid-column: 3/4;
  grid-row: 4/5;
  width: 100%;
  height: 100%;
  background: blue;
}

.cat-2{
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  

  display: grid;
  grid-template-rows: 5% 16% 16% 16% 16% 16% 15%;
}

.br1{
  grid-row: 2/3;
  width: 100%;
  height: 100%;

}
.br2{
  grid-row: 3/4;
  width: 100%;
  height: 100%;
}
.br3{
  grid-row: 4/5;
  width: 100%;
  height: 100%;
}
.br4{
  grid-row:5/6;
  width: 100%;
  height: 100%;
}
.br5{
  grid-row: 6/7;
  width: 100%;
  height: 100%;
}

.cat-3{
  grid-row: 3/4;
  width: 100%;
  height: 100%;


  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  
}

.sr1{
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}
.sr2{
  grid-row: 2/3;
  width: 60%;
  height: 60%;
  
}
.sr3{
  grid-row: 3/4;
  width: 100%;
  height: 100%;
}
.sr4{
  grid-row: 4/5;
  width: 100%;
  height: 100%;
}
.sr5{
  grid-row: 5/6;
  width: 100%;
  height: 100%;
}


.shoe-grid{
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.sh-card-1{
  grid-row: 1/2;
  grid-column: 1/2;
  width:100%;
  height: 100%;
  border: 2px solid black;
  
}

.sh-card-2{
  grid-row: 1/2;
  grid-column: 2/3;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-3{
  grid-row: 1/2;
  grid-column: 3/4;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-4{
  grid-row: 1/2;
  grid-column: 4/5;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-5{
  grid-row: 1/2;
  grid-column: 5/6;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-6{
  grid-row: 2/3;
  grid-column: 1/2;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-7{
  grid-row: 2/3;
  grid-column: 2/3;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-8{
  grid-row: 2/3;
  grid-column: 3/4;
  width:100%;
  height: 100%;
  border: 2px solid black;

}
.sh-card-9{
  grid-row: 2/3;
  grid-column: 4/5;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-10{
  grid-row: 2/3;
  grid-column: 5/6;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-11{
  grid-row: 3/4;
  grid-column: 1/2;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-12{
  grid-row: 3/4;
  grid-column: 2/3;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-13{
  grid-row: 3/4;
  grid-column: 3/4;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-14{
  grid-row: 3/4;
  grid-column: 4/5;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-15{
  grid-row: 3/4;
  grid-column: 5/6;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-16{
  grid-row: 4/5;
  grid-column: 1/2;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-17{
  grid-row: 4/5;
  grid-column: 2/3;
  width:100%;
  height: 100%;
  border: 2px solid black;
}

.sh-card-18{
  grid-row: 4/5;
  grid-column: 3/4;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-19{
  grid-row: 4/5;
  grid-column: 4/5;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-20{
  grid-row: 4/5;
  grid-column: 5/6;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-21{
  grid-row: 5/6;
  grid-column: 1/2;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-22{
  grid-row: 5/6;
  grid-column: 2/3;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-23{
  grid-row: 5/6;
  grid-column: 3/4;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-24{
  grid-row: 5/6;
  grid-column: 4/5;
  width:100%;
  height: 100%;
  border: 2px solid black;
}
.sh-card-25{
  grid-row: 5/6;
  grid-column: 5/6;
  width:100%;
  height: 100%;
  border: 2px solid black;
}